<div style="height: 100%;overflow: hidden" class="hy-layout-column">
    <div style="overflow: scroll">
        <div class="hy-focus-scroll-content">
            <!--基本信息-->
            <div style="width: 100%;margin-bottom: 20px">
                <div class="cemydyz_xcjcbl_head">
                    <div class="cemydyz_xcjcbl_head_icon">
                    </div>
                    <div class="cemydyz_xcjcbl_head_title">
                        基本信息
                    </div>
                </div>
                <div class="cemydyz_xcjcbl_content">
                    <div class="hy-layout-row">
                        <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center">工作单号
                        </div>
                        <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                            {{zcInfo.wkordrno}}
                        </div>
                    </div>
                    <div class="hy-layout-row">
                        <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center">业务类别</div>
                        <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                            电表拆换
                        </div>
                    </div>
                    <div class="hy-layout-row">
                        <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center">户名
                        </div>
                        <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                            配区户名
                        </div>
                    </div>
                    <div class="hy-layout-row">
                        <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center">组户号
                        </div>
                        <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                            {{zcInfo.contractno}}
                        </div>
                    </div>
                    <div class="hy-layout-row">
                        <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center">详细地址
                        </div>
                        <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                            配电所
                        </div>
                    </div>
                    <div class="hy-layout-column">
                        <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center ">换表原因</div>
                        <div class="hy-layout-row" style="margin: 0px 20px;">
                    <textarea class="cem-form-textarea" style="background-color: #FFF9e9;padding: 10px;border: none;"
                              hy-focus-scroll
                              placeholder="請輸入" rows="4" ng-model="xcjcInfo.remark"></textarea>
                        </div>
                    </div>
                    <!--<div class="hy-layout-row">
                        <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center"
                             style="line-height:normal;">换表原因
                        </div>
                        <div style="width: 70%;">
                     <textarea class="hy-layout-row cemydyz-xcjc-bhgyy"
                               placeholder="請輸入備註" hy-focus-scroll
                               rows="4" ng-model="zcInfo.rema"></textarea>
                        </div>
                    </div>-->
                    <!--<div class="hy-layout-row">
                        <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center">設備GPS
                        </div>
                        <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom"
                             style="margin-right: 0">
                            {{ zcInfo.equilocdescr}}
                        </div>
                        <div class="cem-input-scancodes cemydzy-border-bottom" ng-click="openMap('equipment')"
                             style="margin-right: 20px">
                            <img src="img/cem/cbbl/dingwei.png"/>
                        </div>
                    </div>
                    <div class="hy-layout-row">
                        <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center">訂定功率
                        </div>
                        <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                            {{zcInfo.subsdema || zcInfo.applykw}}
                        </div>
                    </div>
                    <div class="hy-layout-row">
                        <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center">申請功率
                        </div>
                        <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                            {{ zcInfo.applykw || zcInfo.subsdema}}
                        </div>
                    </div>
                    <div class="hy-layout-row">
                        <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center cem-line-height">
                            供電點信息
                        </div>
                        <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom margin-left-zero">
                            {{ zcInfo.supppntno }}
                        </div>
                        <div class="cem-input-scancodes cemydzy-border-bottom" ng-click="openMap()"
                             style="margin-right: 20px">
                            <img src="img/cem/cbbl/dingwei.png"/>
                        </div>
                    </div>
                    <div class="hy-layout-row">
                        <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center"
                             style="line-height:normal">聯繫人
                        </div>
                        <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                            {{ zcInfo.custnm }}
                        </div>
                    </div>
                    <div class="hy-layout-row">
                        <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center"
                             style="line-height:normal;">聯繫電話
                        </div>
                        <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                            {{ zcInfo.contactphone }}
                        </div>
                    </div>
                    <div class="hy-layout-row">
                        <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center"
                             style="line-height:normal;">計費組別
                        </div>
                        <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                            {{ zcInfo.prctypMc }}
                        </div>
                    </div>
                    <div class="hy-layout-row">
                        <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center cem-line-height">
                            任務處理情況
                        </div>
                        <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                            {{ zcInfo.tskhndlsituat }}
                        </div>
                    </div>
                    <div class="hy-layout-row">
                        <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center"
                             style="line-height:normal;">備註
                        </div>
                        <div style="width: 70%;">
                     <textarea class="hy-layout-row cemydyz-xcjc-bhgyy"
                               placeholder="請輸入備註" hy-focus-scroll
                               rows="4" ng-model="zcInfo.rema"></textarea>
                        </div>
                    </div>-->
                    <!--<div class="hy-layout-row">-->
                    <!--<div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center"-->
                    <!--style="line-height:normal;">上次未完成原因-->
                    <!--</div>-->
                    <!--<div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">-->
                    <!--{{ zcInfo.SCWWCYY }}-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="hy-layout-row">-->
                    <!--<div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center"-->
                    <!--style="line-height:normal;">上次未完成說明-->
                    <!--</div>-->
                    <!--<div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">-->
                    <!--{{ zcInfo.SCWWCSM }}-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
            <!--<div style="width: 100%;margin-bottom: 20px">
                <div class="cemydyz_xcjcbl_head">
                    <div class="cemydyz_xcjcbl_head_icon">
                    </div>
                    <div class="cemydyz_xcjcbl_head_title">
                        預約信息
                    </div>
                </div>
                <div class="cemydyz_xcjcbl_content">
                    <div class="hy-layout-row">
                        <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center cem-line-height">
                            預約聯繫人
                        </div>
                        <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                            <input ng-model="zcInfo.ctctpers" set-focus placeholder="請輸入" class="cem-form-input"
                                   hy-focus-scroll/>
                        </div>
                    </div>
                    <div class="hy-layout-row">
                        <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center">預約電話</div>
                        <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                            <input ng-model="zcInfo.wkordrtele" set-focus placeholder="請輸入" ng-blur="check()"
                                   hy-focus-scroll
                                   class="cem-form-input"/>
                        </div>
                    </div>
                    <div class="hy-layout-row">
                        <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center cem-line-height">
                            預約開始時間
                        </div>
                        <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                            <hy-datepicker3 hya-hasbutton="true" hya-input-class="cem-date-picker"
                                            hya-date-type="String" hya-date-value="zcInfo.apptbegtm"
                                            hya-format="YYYY-MM-DD hh:mm:ss"
                                            hya-active-class="date-active"
                                            var="beginTime"
                                            hya-date-change="changeDate(newValue,oldValue,'begin',zcInfo.apptendtm)"
                                            class="cem_timepicker">
                            </hy-datepicker3>
                        </div>
                    </div>
                    <div class="hy-layout-row">
                        <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center cem-line-height">
                            預約結束時間
                        </div>
                        <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                            <hy-datepicker3 hya-hasbutton="true" hya-input-class="cem-date-picker"
                                            hya-date-type="String" hya-date-value="zcInfo.apptendtm"
                                            hya-format="YYYY-MM-DD hh:mm:ss"
                                            hya-active-class="date-active"
                                            var="endTime"
                                            hya-date-change="changeDate(newValue,oldValue,'end',zcInfo.apptbegtm)"
                                            class="cem_timepicker">
                            </hy-datepicker3>
                        </div>
                    </div>
                </div>
            </div>
            &lt;!&ndash;拍照上傳&ndash;&gt;
            <div style="width: 100%;margin-bottom: 20px">
                <div class="cemydyz_xcjcbl_head">
                    <div class="cemydyz_xcjcbl_head_icon">
                    </div>
                    <div class="cemydyz_xcjcbl_head_title">
                        拍照上傳
                    </div>
                </div>
                <div class="cemydyz_xcjcbl_content">
                    <div class="cb-content-body">
                        <div class="cb-content-body">
                            <div class="hy-file-list">
                                <hy-image-list class="app-select-image" height="80" style="width: 100%;"
                                               hya-list="photoList" hya-column="4"
                                               hya-add="selectPicture($callback);"
                                               hya-delete="deletePhoto($index,$item,$done);"
                                               hya-item-del="canDelFile($item)"
                                               hya-src-key="SRC">
                                    <img ng-src="{{item.SRC}}" class="cem_pzsc_img"/>
                                </hy-image-list>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>

