<!--
Version:1.0.0
Author:lxj
Date:2020/03/12
臨時檢定辦理
-->
<ons-page ng-controller="cemlsjdCtrl">
    <ons-toolbar class="cem_topbar">
        <div class="left">
            <hy-back-button></hy-back-button>
        </div>
        <div class="center">
            臨時檢定辦理
        </div>
        <div class="right cem_title">
            <div>
                <img ng-src="img/cem/db/filter_check.png" style="display: none;"/>
            </div>
            <div ng-click="changeLanguage(flag)">
                <img ng-src="{{ languageSrc }}"/>
            </div>
        </div>
    </ons-toolbar>
    <div class="hy-focus-scroll-content">
        <!--基本信息-->
        <div style="width: 100%;margin-bottom: 20px">
            <div class="cemydyz_xcjcbl_head">
                <div class="cemydyz_xcjcbl_head_icon">
                </div>
                <div class="cemydyz_xcjcbl_head_title">
                    基本信息
                </div>
            </div>
            <div class="cemydyz_xcjcbl_content">
                <div class="hy-layout-row">
                    <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center">工作單號</div>
                    <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                        {{lsjdInfo.wkordrno}}
                    </div>
                </div>
                <div class="hy-layout-row">
                    <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center">電錶號</div>
                    <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                        {{lsjdInfo.asseno}}
                    </div>
                </div>
                <div class="hy-layout-row">
                    <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center">合約賬戶</div>
                    <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                        {{lsjdInfo.cntracctno}}
                    </div>
                </div>
                <!--<div class="hy-layout-row">
                    <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center">計費組別</div>
                    <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                        {{lsjdInfo.JFZB}}
                    </div>
                </div>-->
                <div class="hy-layout-row">
                    <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center">客戶姓名</div>
                    <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                        {{ flag?lsjdInfo.custenglnm:lsjdInfo.custnm }}
                    </div>
                </div>
                <div class="hy-layout-row">
                    <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center">用戶地址</div>
                    <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                        {{ flag?lsjdInfo.detaengladdr:lsjdInfo.detaaddr }}
                    </div>
                </div>
                <div class="hy-layout-row">
                    <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center">聯繫人</div>
                    <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                        {{lsjdInfo.contact}}
                    </div>
                </div>
                <div class="hy-layout-row">
                    <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center">聯繫電話</div>
                    <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                        {{lsjdInfo.ctctaddr}}
                    </div>
                </div>
                <div class="hy-layout-row">
                    <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center">設備GPS</div>
                    <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom"
                         style="margin-right: 0">
                        {{ lsjdInfo.equilocdescr}}
                    </div>
                    <div class="cem-input-scancodes cemydzy-border-bottom" ng-click="openMap('equipment')"
                         style="margin-right: 20px">
                        <img src="img/cem/cbbl/dingwei.png"/>
                    </div>
                </div>
                <div class="hy-layout-row">
                    <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center">訂定功率</div>
                    <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                        {{lsjdInfo.subsdemaMc}}
                    </div>
                </div>
                <div class="hy-layout-row">
                    <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center">申請功率</div>
                    <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                        {{ lsjdInfo.applykw }}
                    </div>
                </div>
                <div class="hy-layout-row">
                    <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center cem-line-height">
                        供電點信息
                    </div>
                    <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom margin-left-zero">
                        {{ lsjdInfo.supppntno }}
                    </div>
                    <div class="cem-input-scancodes cemydzy-border-bottom" ng-click="openMap()"
                         style="margin-right: 20px">
                        <img src="img/cem/cbbl/dingwei.png"/>
                    </div>
                </div>
            </div>
        </div>
        <!--預約信息-->
        <div style="width: 100%;margin-bottom: 20px">
            <div class="cemydyz_xcjcbl_head">
                <div class="cemydyz_xcjcbl_head_icon">
                </div>
                <div class="cemydyz_xcjcbl_head_title">
                    預約信息
                </div>
            </div>
            <div class="cemydyz_xcjcbl_content">
                <div class="hy-layout-row">
                    <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center cem-line-height">
                        預約聯繫人
                    </div>
                    <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                        <input ng-model="lsjdInfo.ctctpers" set-focus placeholder="請輸入" class="cem-form-input" hy-focus-scroll/>
                    </div>
                </div>
                <div class="hy-layout-row">
                    <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center">預約電話</div>
                    <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                        <input ng-model="lsjdInfo.wkordrtele" placeholder="請輸入" ng-blur="check()" hy-focus-scroll
                               class="cem-form-input"/>
                    </div>
                </div>
                <div class="hy-layout-row">
                    <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center cem-line-height">
                        預約開始時間
                    </div>
                    <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                        <hy-datepicker3 hya-hasbutton="true" hya-input-class="cem-date-picker"
                                        hya-date-type="String" hya-date-value="lsjdInfo.apptbegtm"
                                        hya-format="YYYY-MM-DD hh:mm:ss"
                                        hya-active-class="date-active"
                                        var="beginTime"
                                        hya-date-change="changeDate(newValue,oldValue,'begin',lsjdInfo.apptendtm)"
                                        class="cem_timepicker">
                        </hy-datepicker3>
                    </div>
                </div>
                <div class="hy-layout-row">
                    <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center cem-line-height">
                        預約結束時間
                    </div>
                    <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                        <hy-datepicker3 hya-hasbutton="true" hya-input-class="cem-date-picker"
                                        hya-date-type="String" hya-date-value="lsjdInfo.apptendtm"
                                        hya-format="YYYY-MM-DD hh:mm:ss"
                                        hya-active-class="date-active"
                                        var="endTime"
                                        hya-date-change="changeDate(newValue,oldValue,'end',lsjdInfo.apptbegtm)"
                                        class="cem_timepicker">
                        </hy-datepicker3>
                    </div>
                </div>
            </div>
        </div>
        <!--檢查項目-->
        <div style="width: 100%;">
            <div class="cemydyz_xcjcbl_head">
                <div class="cemydyz_xcjcbl_head_icon">
                </div>
                <div class="cemydyz_xcjcbl_head_title">
                    檢查設備
                </div>
                <div class="cem-input-scancodes" ng-click="AddXm()"
                     style="margin:8px 10px;width: 20px;height: 20px">
                    <img src="img/cem/ydzybl/cem_add.png"/>
                </div>
            </div>
            <div class="cem-query-result cem-sxx-tab">
                <div class="cem-no-data" ng-if="sbList.length<1&&xzsbList.length<1"></div>
                <!--<div class="cem-query-result-item" ng-repeat="item in sbList track by $index">-->
                <div class="cem-query-result-item" ng-repeat="item in xzsbList track by $index">
                    <div class="cem-query-lsjd-title">
                        <div>
                            <div>設備類別</div>
                            <div style="font-size: 21px;color: #4B4B4B;">{{ item.equiclasMc }}</div>
                        </div>
                        <div ng-click="delXzJcsb($index)">
                            <img style="margin-top: 5px" src="img/cem/cbbl/shandiao.png"/>
                        </div>
                    </div>
                    <div class="hy-layout-row">
                        <div class="hy-layout-row cem-result-form-header">設備類型</div>
                        <div class="hy-layout-row cem-result-form-content">
                            {{ item.equitypMc }}
                        </div>
                    </div>
                    <div class="hy-layout-row">
                        <div class="hy-layout-row cem-result-form-header">資產編號</div>
                        <div class="hy-layout-row cem-result-form-content">
                            {{ item.asseno }}
                        </div>
                    </div>
                    <div class="hy-layout-row hy-layout-align-end-center">
                        <!-- 3 为现场检查 -->
                        <div class="cem-jcxm-button" ng-click="checkXm(item,lsjdInfo.fldtsktyp,'xz')">
                            {{ lsjdInfo.fldtsktyp==='03'?'檢查項目': '檢驗項目'}}
                        </div>
                    </div>
                </div>
                <div class="cem-query-result-item" ng-repeat="item in sbList track by $index">
                    <div class="cem-query-lsjd-title">
                        <div>
                            <div>設備類別</div>
                            <div style="font-size: 21px;color: #4B4B4B;">{{ item.equiclasMc }}</div>
                        </div>
                        <div ng-click="delJcsb($index)">
                            <img style="margin-top: 5px" src="img/cem/cbbl/shandiao.png"/>
                        </div>
                    </div>
                    <div class="hy-layout-row">
                        <div class="hy-layout-row cem-result-form-header">設備類型</div>
                        <div class="hy-layout-row cem-result-form-content">
                            {{ item.equitypMc }}
                        </div>
                    </div>
                    <div class="hy-layout-row">
                        <div class="hy-layout-row cem-result-form-header">資產編號</div>
                        <div class="hy-layout-row cem-result-form-content">
                            {{ item.asseno }}
                        </div>
                    </div>
                    <div class="hy-layout-row hy-layout-align-end-center">
                        <!-- 3 为现场检查 -->
                        <div class="cem-jcxm-button" ng-click="checkXm(item,lsjdInfo.fldtsktyp,'xt')">
                            {{ lsjdInfo.fldtsktyp==='03'?'檢查項目': '檢驗項目'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--檢查信息-->
        <div style="width: 100%;margin-bottom: 20px">
            <div class="cemydyz_xcjcbl_head">
                <div class="cemydyz_xcjcbl_head_icon">
                </div>
                <div class="cemydyz_xcjcbl_head_title">
                    檢查信息
                </div>
            </div>
            <div class="cemydyz_xcjcbl_content">
                <div class="hy-layout-row">
                    <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center cem-important-note">
                        檢查結果
                    </div>
                    <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                        <hy-drop-list items="jcjgDrop" ng-model="lsjdInfo.tsksts" class="cem-form-list"
                                      hya-value-key="DMBM"
                                      hya-title-key="DMBMMC"
                                      placeholder="請選擇">
                        </hy-drop-list>
                    </div>
                </div>
                <div class="hy-layout-row">
                    <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center cem-line-height">
                        檢查負責人
                    </div>
                    <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                        <input ng-model="lsjdInfo.wkpsnlnoMc" placeholder="請輸入" hy-focus-scroll
                               class="cem-form-input"/>
                    </div>
                </div>
                <div class="hy-layout-row">
                    <div class="hy-layout-row cemydzy-xcjc-form-row-header hy-layout-align-end-center cem-line-height">
                        現場任務類型
                    </div>
                    <div class="hy-layout-row cemydzy-xcjc-form-row-content cemydzy-border-bottom">
                        <div ng-if="lsjdInfo.fldtsktyp != '06'">{{lsjdInfo.fldtsktypMc}}</div>
                        <hy-drop-list items="xcywlxDrop" ng-model="lsjdInfo.selFldtsktyp" class="cem-form-list" ng-if="lsjdInfo.fldtsktyp == '06'"
                                      hya-hide-null-val="true"
                                      hya-value-key="DMBM"
                                      hya-title-key="DMBMMC"
                                      placeholder="請選擇">
                        </hy-drop-list>
                    </div>
                </div>
            </div>
        </div>
        <!--拍照上傳-->
        <div style="width: 100%;margin-bottom: 20px">
            <div class="cemydyz_xcjcbl_head">
                <div class="cemydyz_xcjcbl_head_icon">
                </div>
                <div class="cemydyz_xcjcbl_head_title">
                    拍照上傳
                </div>
            </div>
            <div class="cemydyz_xcjcbl_content">
                <div class="cb-content-body">
                    <div class="cb-content-body">
                        <div class="hy-file-list">
                            <hy-image-list class="app-select-image" height="80" style="width: 100%;"
                                           hya-list="photoList" hya-column="4" hya-add="selectPicture($callback);"
                                           hya-delete="deletePhoto($index,$item,$done);"
                                           hya-item-del="canDelFile($item)"
                                           hya-src-key="SRC">
                                <img ng-src="{{item.SRC}}" class="cem_pzsc_img"/>
                            </hy-image-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--驗標費表單簽名-->
        <div style="width: 100%;margin-bottom: 20px">
            <div class="cemydyz_xcjcbl_head" ng-click="toYbfqm()">
                <div class="cemydyz_xcjcbl_head_icon">
                </div>
                <div class="cemydyz_xcjcbl_head_title">
                    驗錶費表單簽名
                </div>
                <div class="cem-input-scancodes"
                     style="margin:4px 10px;width: 20px;height: 20px">
                    <img style="margin-top: 5px" src="img/cem/ydzybl/cem_lt.png"/>
                </div>
            </div>
        </div>
        <!--錄入臨時裝拆數據-->
        <div style="width: 100%;margin-bottom: 20px" ng-if="zclu">
            <div class="cemydyz_xcjcbl_head" ng-click="toLrlszc()">
                <div class="cemydyz_xcjcbl_head_icon">
                </div>
                <div class="cemydyz_xcjcbl_head_title">
                    錄入臨時裝拆數據
                </div>
                <div class="cem-input-scancodes"
                     style="margin:4px 10px;width: 20px;height: 20px">
                    <img style="margin-top: 5px" src="img/cem/ydzybl/cem_lt.png"/>
                </div>
            </div>
        </div>
    </div>
    <ons-bottom-toolbar class="cem-button" ng-if="orderType!=='2'">
        <div style="width: 33%" class="button-solid" ng-click="save()">保存</div>
        <div style="width: 33%" class="button-solid" ng-click="send()">傳遞</div>
    </ons-bottom-toolbar>
    <ons-bottom-toolbar class="cem-button" ng-if="orderType==='2'">
        <div style="width: 60%" class="button-solid" ng-click="savePhoto()">照片上傳</div>
    </ons-bottom-toolbar>
</ons-page>
