<!--
Version:1.0.0
Author:lxj
Date:2020/03/24
人员查询
-->
<ons-page ng-controller="cemryxxCtrl">
    <ons-modal var="app.zfjhModal" class="tf-loader-modal">
        <div class="hy-layout-column hy-layout-align-center-center">
            <div class="tf-loader-content hy-layout-row hy-layout-align-start-center">
                <hy-progress-circular hy-mode="indecterminate"></hy-progress-circular>
                <div class="tf-loader-content-text">加載中...</div>
            </div>
        </div>
    </ons-modal>
    <ons-toolbar class="cem_topbar">
        <div class="left">
            <hy-back-button></hy-back-button>
        </div>
        <div class="center">
            人員查詢
        </div>
    </ons-toolbar>
    <div class="cem-query-container">
        <!--查詢條件-->
        <div class="cem-query-condition">
            <div class="cem-query-title" ng-click="updown=!updown">
                <div ng-class="{'cem-down-color':updown}">查詢條件</div>
                <div ng-if="updown"><img src="img/cem/common/query_up.png"/></div>
                <div ng-if="!updown"><img src="img/cem/common/query_down.png"/></div>
            </div>
            <div class="cem-query-content" ng-if="updown">
                <div class="hy-layout-row">
                    <div class="hy-layout-row cem-query-form-header">部門</div>
                    <div class="hy-layout-row cem-query-form-content cem-border-bottom">
                        <hy-drop-tree ng-model="treeObj.scdwObj" tree-id="gddwDropTree"
                                      var = "gddwDropTree" style="padding:0;font-size: 14px;"
                                      hya-select-more="false"
                                      hya-select-parent="true"
                                      hya-cache="false"
                                      placeholder="請選擇"
                                      hya-get-tree-data="getGddwTreeData($level,$parent,$callback)">
                        </hy-drop-tree>
                    </div>
                </div>
                <div class="hy-layout-row">
                    <div class="hy-layout-row cem-query-form-header">人員名稱</div>
                    <div class="hy-layout-row cem-query-form-content cem-border-bottom">
                        <input ng-model="query.personName" placeholder="請輸入"
                               class="cem-form-input"/>
                    </div>
                </div>
                <div class="cem-query-button">
                    <div class="cem-query-btn" ng-click="queryDxxx()">搜索</div>
                </div>
            </div>
        </div>
        <!--列表展示-->
        <div class="cem-query-result">
            <div class="cem-no-data" ng-if="resultList.length<1"></div>
            <div class="cem-query-result-item" style="padding: 21px 20px 15px 20px"
                 ng-repeat="item in resultList track by $index" ng-if="resultList.length>0" ng-click="selectRyxx(item)">
                <div class="hy-layout-row">
                    <div class="hy-layout-row cem-result-form-header">人員名稱</div>
                    <div class="hy-layout-row cem-result-form-content">
                        {{ item.personName }}
                    </div>
                </div>
                <div class="hy-layout-row">
                    <div class="hy-layout-row cem-result-form-header">部門</div>
                    <div class="hy-layout-row cem-result-form-content">
                        {{ item.groupName }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</ons-page>
