<!--
Version:1.0.0
Author:lxz
Date:2020/03/13
裝拆設備信息查詢
-->
<ons-page ng-controller="zcsbcxCtrl">
    <ons-modal var="app.zfjhModal" class="tf-loader-modal">
        <div class="hy-layout-column hy-layout-align-center-center">
            <div class="tf-loader-content hy-layout-row hy-layout-align-start-center">
                <hy-progress-circular hy-mode="indecterminate"></hy-progress-circular>
                <div class="tf-loader-content-text">加載中...</div>
            </div>
        </div>
    </ons-modal>
    <ons-toolbar class="cem_topbar">
        <div class="left">
            <hy-back-button></hy-back-button>
        </div>
        <div class="center">
            裝拆設備查詢
        </div>
    </ons-toolbar>
    <div class="cem-query-container">
        <!--查詢條件-->
        <div class="cem-query-condition">
            <div class="cem-query-title" ng-click="updown=!updown">
                <div ng-class="{'cem-down-color':updown}">查詢條件</div>
                <div ng-if="updown"><img src="img/cem/common/query_up.png"/></div>
                <div ng-if="!updown"><img src="img/cem/common/query_down.png"/></div>
            </div>
            <div class="cem-query-content" ng-if="updown">
                <div class="hy-layout-row">
                    <div class="hy-layout-row cem-query-form-header">設備類別</div>
                    <div class="hy-layout-row cem-query-form-content cem-border-bottom">
                        <hy-drop-list items="sblbDrop" ng-model="query.equiclas" class="cem-form-list"
                                      hya-hide-null-val="true"
                                      hya-value-key="DMBM"
                                      hya-title-key="DMBMMC"
                                      placeholder="請選擇">
                        </hy-drop-list>
                    </div>
                </div>
                <div class="hy-layout-row">
                    <div class="hy-layout-row cem-query-form-header">計量點編號</div>
                    <div class="hy-layout-row cem-query-form-content cem-border-bottom">
                        <input ng-model="query.metepntno" placeholder="請輸入"
                               class="cem-form-input"/>
                    </div>
                </div>
                <div class="hy-layout-row">
                    <div class="hy-layout-row cem-query-form-header">資產編號</div>
                    <div class="hy-layout-row cem-query-form-content cem-border-bottom">
                        <input ng-model="query.asseno" placeholder="請輸入"
                               class="cem-form-input"/>
                        <div class="cem-input-scancode" ng-click="scanZcbh()">
                            <img src="img/cem/cbbl/scancode.png"/>
                        </div>
                    </div>
                </div>
                <div class="cem-query-button">
                    <div class="cem-query-btn" ng-click="queryZcxx()">搜索</div>
                </div>
            </div>
        </div>
        <!--列表展示-->
        <div class="cem-query-result">
            <div class="cem-no-data" ng-if="resultList.length<1"></div>
            <div class="cem-query-result-item" style="padding: 21px 20px 15px 20px"
                 ng-repeat="item in resultList track by $index">
                <div class="hy-layout-row">
                    <div class="hy-layout-row cem-result-form-header">設備類型</div>
                    <div class="hy-layout-row cem-result-form-content">
                        <div style="width: 80%">{{ item.equitypmc }}</div>
                        <div style="width: 20%">
                            <hy-checkbox ng-checked="isChecked(item,selected)" ng-click="toggle(item, selected)"
                                         style="margin-bottom: 0;margin-left:20px">
                            </hy-checkbox>
                        </div>
                    </div>
                </div>
                <div class="hy-layout-row">
                    <div class="hy-layout-row cem-result-form-header">資產編號</div>
                    <div class="hy-layout-row cem-result-form-content">
                        {{ item.asseno }}
                    </div>
                </div>
                <div class="hy-layout-row" ng-if="item.SBLB == '1' ">
                    <div class="hy-layout-row cem-result-form-header">主副標誌</div>
                    <div class="hy-layout-row cem-result-form-content">
                        {{ item.mastandslavflg }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ons-bottom-toolbar class=" hy-layout-row hy-layout-align-space-around-center"
                        style="background-color:#4B4B4B">
        <hy-button
                style="width: 60%;background-color: #ffc72c;min-height: 25px;height: 30px;line-height: 30px;font-size: 16px;color: #4B4B4B;letter-spacing: 2px;border-radius: 20px"
                class="hy-fill gdsp_cxbutton " ng-click="sure()">
            確定
        </hy-button>
    </ons-bottom-toolbar>

</ons-page>
