/*--------------应用版本更新处理样式----------------*/
.appVersionUpdate {
  .modal__content {
    padding: 0 20px;
  }
  .label-text {
    color: white;
    text-align: center;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
  }
}

/*--------------应用版本更新样式----------------*/