<!--
Version:1.0.0
Author:lxj
Date:2020/02/26
搜索
-->
<ons-dialog cancelable class="drop-dialog cem-message"
            style="min-height: 50px;height: 50px;width: 73%;background-color: white">
    <div class="color-father">
        <ons-bottom-toolbar class="cem-button" style="background-color: white">
            <div style="width: 35%;line-height: 28px" class="button-solid" ng-click="downloadData()">數據下載</div>
            <div style="width: 35%;line-height: 28px" class="button-solid" ng-click="uploadData()">數據上傳</div>
        </ons-bottom-toolbar>
    </div>
</ons-dialog>
