.cem-sz-fatherdiv{
  position: absolute;
  width: 100%;
  bottom: 0;
}
.cem_sz_button{
  width: 100%;
  height: 50px;
  background-color: #ffc72c;
  color: #4b4b4b;
  font-size: 16px;
  line-height: 50px;
  margin: 0;
  letter-spacing: 2px;
}
.cem-sz-row-header{
  flex: none;
  width: 113px;
  height: 44px;
  line-height: 44px;
  margin-right: 50px;
  color: #4b4b4b;
}
.cem-sz-row-header-60{
  flex: none;
  width: 60px;
  height: 44px;
  line-height: 44px;
  margin-right: 40px;
  color: #4b4b4b;
}
.cem-xgmm-font{
  color: #8c8c8c;
  font-size: 14px;
  margin-top: 30px;
}